@font-face {
  font-family: "SF UI Text";
  src: url("@/assets/fonts/SF-UI-Text-400.woff2") format("woff2"),
    url("@/assets/fonts/SF-UI-Text-400.woff") format("woff"),
    url("@/assets/fonts/SF-UI-Text-400.ttf") format("ttf"),
    url("@/assets/fonts/SF-UI-Text-400.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  src: url("@/assets/fonts/SF-UI-Text-500.woff2") format("woff2"),
    url("@/assets/fonts/SF-UI-Text-500.woff") format("woff"),
    url("@/assets/fonts/SF-UI-Text-500.ttf") format("ttf"),
    url("@/assets/fonts/SF-UI-Text-500.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SF-Pro-Display-400.woff2") format("woff2"),
    url("@/assets/fonts/SF-Pro-Display-400.woff") format("woff"),
    url("@/assets/fonts/SF-Pro-Display-400.ttf") format("ttf"),
    url("@/assets/fonts/SF-Pro-Display-400.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SF-Pro-Display-500.woff2") format("woff2"),
    url("@/assets/fonts/SF-Pro-Display-500.woff") format("woff"),
    url("@/assets/fonts/SF-Pro-Display-500.ttf") format("ttf"),
    url("@/assets/fonts/SF-Pro-Display-500.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("@/assets/fonts/SF-Pro-Display-600.woff2") format("woff2"),
    url("@/assets/fonts/SF-Pro-Display-600.woff") format("woff"),
    url("@/assets/fonts/SF-Pro-Display-600.ttf") format("ttf"),
    url("@/assets/fonts/SF-Pro-Display-600.otf") format("otf");
  font-weight: 600;
}
